* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
  color: var(--Grey-500);
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey-400: hsl(212, 6%, 44%);
  --Grey-500: hsl(234, 12%, 34%);
}

body {
  padding: 24px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 80px auto;
  align-items: center;
  gap: 50px;
}

.title-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.cards-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}

.group-of-cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

